* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

#root {
  --font-family-website-name: "Orbitron", sans-serif;
  --font-family-title: "Fredoka", sans-serif;
  --font-family-paragraph: "Nunito", sans-serif;
  --font-family-button: "Poppins", sans-serif;
  --font-primary-color: black;
  --font-secondary-color: rgba(0, 0, 0, 0.414);
  --background-color-button: #a2dbb1;
  --background-color-button-hover: #5eb776;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
}
